
 <div class="form-group">
    <label class="control-label col-sm-2" for="<%=tag_id%>"><%=label%></label>
    <div class="col-sm-10">
      <%= select_tag tag_id,
          options_for_select( 
            collection,
            value.to_s.split(",")
          ), 
          {  multiple: "multiple", class:"form-control search"} 
      %>
    </div>
  </div>