<table class="table table-striped table-bordered table-hover">
    <tbody>
    <% if errors = @target.check_errors and not errors.empty? %>    
        <tr>
            <td>Status</td>
            <td>
                <span class="text text-danger"><%=errors.join("<br/>")%></span>
            </td>
        </tr>
    <%end%>
    <tr>
        <td>Last updated</td>
        <td><%=@target.updated_at%></td>
    </tr>
    <tr>
        <td>Created</td>
        <td><%=@target.created_at%></td>
    </tr>
    </tbody>
</table> 