 <% content_for :breadcrumb do %> 
        <div class="page-header pull-left">
            <div class="page-title">
                Edit User: <em> <%=@user.name%> </em>
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="/">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li><a href="/users#">Users</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Edit</li>
        </ol>
<%end%>

<% content_for :main_body do %> 	
        <div class="col-md-12"><h3></h3>
            <div class="row mtl">
                <div class="col-md-3">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            Profile
                        </div>
                        <div class="panel-body pan">
                            <%= render 'stats' %>
                        </div>
                    </div>
                </div>    
                <div class="col-md-9">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            Edit
                        </div>
                        <div class="panel-body pan">
                            <%= render 'form' %>
                            <%= link_to 'Back', users_path , class:"btn btn-default btn-sm"%>        
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
<%end%>