<table class="table table-striped table-bordered table-hover">
    <tbody>
    <tr>
        <td>Last updated</td>
        <td><%=@rtb_standard.updated_at%></td>
    </tr>
    <tr>
        <td>Created</td>
        <td><%=@rtb_standard.created_at%></td>
    </tr>
    </tbody>
</table> 