

<div class="panel panel-pink">
    <div class="panel-heading">Campaign Graph <%=campaign.name%></div>
    <div class="panel-body">
            <% 
                id = campaign.id.to_s
                id = "11"
            %>
            <%=raw(src)%>            
    </div>
</div>

