

    <div class="panel panel-yellow">
        <div class="panel-heading"><%=label%></div>
        <div class="panel-body">
          <table class="table table-hover">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <th>Clicks</th>
                    <td>1</td>
                </tr>
                <tr>
                    <th>Pixels</th>
                    <td>1</td>
                </tr>
                <tr>
                    <th>Wins</th>
                    <td>1</td>
                </tr>
                <tr>
                    <th>Bids</th>
                    <td>1</td>
                </tr>                
                </tbody>
            </table>
        </div>
    </div>
